* {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  --text-color: #fff;
}

body {
  font-family: Comic Sans MS;
  color: var(--text-color);
}

a {
  color: var(--text-color);
}

p{
  color: #262626;
}

.page-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #262626;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.logo-nav {
  font-size: 25px;
  text-transform: capitalize;
  padding: 25px 30px;
}

.list {
  text-transform: uppercase;
  font-weight: bold;
  padding: 25px 10px;
}

.list-item {
  display: inline-block;
}

.list-item + .list-item {
  margin-left: 10px;
}

.link:hover,
.contact-link:hover {
  color: yellow;
}

.contact-nav {
  padding: 30px;
}

.contact-link {
  border-radius: 1em;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 3px solid var(--text-color);
}
